body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer .copyright,
.developer {
    font-size: 14px;
    color: #333;
    text-align: center;
}

footer .copyright a,
.developer {
    color: #444;
}

footer .copyright a:hover,
.developer:hover {
    color: #555;
}

footer .copyright:before {
    content: '©';
}

.rsschool img {
    width: 64px;
    height: 64px;
}

.visibility-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

