:root {
    --padding-large-side: 82px;
    --padding-small-side: 8px;
    --padding-top-bottom: 60px;

    --primary: #ff4646;
    --dark: #181c29;
    --static-white: #fff;
    --content-background: #ecf3f8;
    --tag-purple: #4361ff;
    --tag-pink: #ff43f7;
    --tag-green: #06a44f;
    --primary-10: rgba(255, 70, 70, 0.1);
    --static-white-20: rgba(255, 255, 255, 0.2);
    --static-white-40: rgba(255, 255, 255, 0.4);
    --overlay: rgba(24, 28, 41, 0.8);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type:  none;
}

body{
    /* width: 100%; */
    background-color: var(--static-white);
    font-family: "Montserrat", sans-serif;
}

main {
    margin: 0 auto;
    width: 1440px;
    background-color: var(--primary);
    border-radius: 20px;
}

html {
    scroll-behavior: smooth;
}

.header {
    width: 1440px;
    display: flex;
    justify-content: space-between;
    padding: 12px var(--padding-large-side);
    background-color: var(--static-white);
    margin: 0 auto;
}

.logo-container {
    display: flex;
    align-items: center;
    padding: var(--padding-small-side) 20px;
    cursor: pointer;
    gap: 8px;
}

.logo {
    display: block;
    width: 24px;
    height: 24px;
}

.logo__title, .nav__link, .cta__link {
    font-size: 12px;
    font-weight: 600;
    line-height:  152%;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: var(--dark);
    font-family: inherit;
}

.nav__link:first-child {
    background-color: var(--static-white);
    color: var(--dark); 
}

.hero__link:hover, .cta__link:hover {
    background-color: var(--static-white);
    color: var(--dark);
}

.nav__container {
    display: flex;
    justify-content: center;
}

.nav__list {
    display: flex;
    gap: 8px;
    align-items: center;
}

.nav__link {
    padding: 12px 20px;
    letter-spacing: 0.6px;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 4px;
}

.nav__link:hover {
    background-color: var(--primary-10);
    color: var(--primary);
}





footer {
    margin: 0 auto;
    width: 1440px;
    background-color: var(--static-white);
}

#footer {
    padding: var(--padding-top-bottom) var(--padding-large-side);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.footer__contacts {
    display: flex;
    gap: 12px;
    width: 100%;
}

.contacts__link {
    cursor: pointer;
    background-color: var(--content-background);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 417px;
    transition: 1s;
}

.contacts__link:hover .contacts__description,
.contacts__link:hover .contacts__action {
    color: var(--primary);
}

.contacts__action {
    margin-bottom: 6px;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 3.8px;
    color: var(--dark);
    text-transform: uppercase;
}

.contacts__link img {
    width: 80px;
    height: 80px;
    margin-bottom: 12px;
}

.contacts__description {
    color: var(--dark);
    text-transform: uppercase;
    transition: 1s;
}

.footer__social_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

.social__list {
    display: flex;
    gap: 12px;
}

.social__link {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.social__link svg {
   transition: 1s;
}

.social__link:hover svg {
    filter: brightness(0) saturate(100%) invert(53%) sepia(37%) saturate(6321%) hue-rotate(333deg) brightness(103%) contrast(105%);
}

footer .social__rss {
    color: var(--dark);
    transition: 1s;
}

.social__rss:hover {
    color: var(--primary);
}