:root {
    --padding-large-side: 82px;
    --padding-small-side: 8px;
    --padding-top-bottom: 60px;

    --primary: #ff4646;
    --dark: #181c29;
    --static-white: #fff;
    --content-background: #ecf3f8;
    --tag-purple: #4361ff;
    --tag-pink: #ff43f7;
    --tag-green: #06a44f;
    --primary-10: rgba(255, 70, 70, 0.1);
    --static-white-20: rgba(255, 255, 255, 0.2);
    --static-white-40: rgba(255, 255, 255, 0.4);
    --overlay: rgba(24, 28, 41, 0.8);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type:  none;
}

body{
    /* width: 100%; */
    background-color: var(--static-white);
    font-family: "Montserrat", sans-serif;
}

main {
    margin: 0 auto;
    width: 1440px;
    background-color: var(--primary);
}

html {
    scroll-behavior: smooth;
}

.header {
    width: 1440px;
    display: flex;
    justify-content: space-between;
    padding: 12px var(--padding-large-side);
    background-color: var(--static-white);
    margin: 0 auto;
}

.logo-container {
    display: flex;
    align-items: center;
    padding: var(--padding-small-side) 20px;
    cursor: pointer;
    gap: 8px;
}

.logo {
    display: block;
    width: 24px;
    height: 24px;
}

.logo__title, .nav__link {
    font-size: 12px;
    font-weight: 600;
    line-height:  152%;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: var(--dark);
    font-family: inherit;
}

.nav__container {
    display: flex;
    justify-content: center;
}

.nav__list {
    display: flex;
    gap: 8px;
    align-items: center;
}

.nav__link {
    padding: 12px 20px;
    letter-spacing: 0.6px;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 4px;
}

.nav__link:hover {
    background-color: var(--primary-10);
    color: var(--primary);
}

#hero {
    background-image: url('../images/bg-ball.png'), url('../images/bg-snow.png');
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-size: cover, cover;
    padding: var(--padding-top-bottom) var(--padding-large-side);
    border-radius: 20px 20px 0px 0px;
    width: 1440px;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60.4px;
}

.hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 433px;
    padding-top: var(--padding-top-bottom);
    padding-bottom: var(--padding-top-bottom);
    gap: 12px;
}

.hero__wish {
    font-family: "Allura", cursive;
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 1.1px;
    color: var(--static-white);
}

.hero__title {
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 5.8px;
    color: var(--static-white);
    text-align: center;
    text-transform: uppercase;
}

.hero__link {
    cursor: pointer;
    color: var(--static-white);
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.7px;
    background-color: var(--dark);
    border-radius: 20px;
    padding: 20px 32px;
    text-transform: uppercase;
}

#about {
    width: 1440px;
    background-image: url("../images/bg-snow.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: var(--padding-top-bottom) var(--padding-large-side);
}

.about__wrapper {
    display: flex;
    background-color: var(--static-white);
    border-radius: 20px;
}

.about__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 160px;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-right: 152px;
    gap: 20px;
}

.about__img {
    display: block;
    border-radius: 20px;
}

.about {
    font-family: "Allura", cursive;
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 1.1px;
    color: var(--primary);
}

.about__title {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 3.8px;
    color: var(--dark);
    text-transform: uppercase;
}

.about__story {
    font-size: 16px;
    font-weight: 400;
    line-height: 148%;
}

#slider {
    padding: var(--padding-top-bottom) 0  var(--padding-top-bottom) var(--padding-large-side);
    width: 1440px;
    background-image: url("../images/bg-snow.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slider__wish_wrapper {
    text-align: center;
    padding-right: 81px;
}

.slider__title {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 3.8px;
    color: var(--static-white);
    text-transform: uppercase;
    margin-top: 12px;
}

.slider__wish {
    font-family: "Allura", cursive;
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 1.1px;
    color: var(--static-white);
}

.slider__wrapper {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.slider__track {
    display: flex;
    gap: 20px;
    overflow: hidden;
}

.slider__item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.slider__text {
    font-family: "Montserrat", sans-serif;
    font-size: 80px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--static-white);
}

.slider__image {
    display: block;
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 20px;
}

.slider__button_wrapper {
    padding-left: auto;
    padding-right: 82px;
    display: flex;
    justify-content: end;
    gap: 20px;
}

.slider__button {
    width: 56px;
    height: 56px;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
    transition: 0.5s;
    border: 1px solid var(--static-white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider__button:hover {
    border: 1px solid var(--static-white);
    background-color: var(--static-white);
}

.slider__button:hover .slider__button-img {
    filter: brightness(0) saturate(100%) invert(39%) sepia(87%) saturate(2243%) hue-rotate(337deg) brightness(112%) contrast(100%);
    opacity: 100%;
}

.left__button {
    border: 1px solid var(--static-white-40);
}

.left__button .slider__button-img {
    transform: scale(-1, 1);
    opacity: 40%;
}


