.footer-wrapper {
  display: flex;
  max-width: 1440px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: rgb(0 51 102);
  font-weight: bold;
}

.rsschool-logo {
  width: 50px;
  height: 20px;
  fill: #000;
}
