.footer-wrapper {
  display: flex;
  max-width: 1440px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: rgb(0 51 102);
  font-weight: bold;
}

.author-link:hover,
.rsschool-link:hover {
  text-decoration: underline;
  color: rgb(0 51 102);
}
