* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

.main-wrapper {
    display: flex;
    width: 100%;
}

