* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --dark-border: black;
    --dark-text: black;
    --dark-hover-text: white;
    --dark-hover-background: black;
}

body {
    padding: 20px;
}

button {
    cursor: pointer;
    display: flex;
    padding: 7px;
    border: 1px solid var(--dark-border);
    border-radius: 10px;
    background-color: transparent;
}

button:hover {
    background-color: var(--dark-hover-background);
    color: var(--dark-hover-text);
}

button.active {
    background-color: var(--dark-hover-background);
    color: var(--dark-hover-text);
}

.header {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.levels-wrapper, 
.variants-wrapper {
    display: flex;
    gap: 20px;
}