.main-wheel-container,
.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.control-wrapper {
  display: grid;
  grid-template:
    'button-back button-back button-sound button-sound duration-label duration-label' 1fr
    '. button-spin button-spin button-spin button-spin .' 1fr / 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0.8rem;
  margin-inline: auto;
}

.button-back {
  grid-area: button-back;
}

.button-sound {
  grid-area: button-sound;
}

.button-spin {
  grid-area: button-spin;
}

.label-duration {
  display: flex;
  grid-area: duration-label;
  gap: 0.5rem;
  align-items: center;
}

.input-duration {
  box-sizing: border-box;
  max-width: 3rem;
}

.winning-value {
  overflow: hidden;

  width: 100%;
  max-width: 24rem;

  line-height: 2;
  color: inherit;
  text-align: center;
  text-overflow: ellipsis;
  text-shadow: 0 0 0.15rem #e6f4f4;
  text-wrap: nowrap;

  box-shadow: 0 0 0.15rem #e6f4f4;
}
