.score-field {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 10px;
  align-items: start;
}

.score-titles,
.member-wrapper {
  display: flex;
  gap: 10px;
  width: 100%;
}

.score-titles-id,
.member-id {
  max-width: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-titles-img,
.member-img {
  max-width: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-titles-name,
.member-name {
  max-width: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sort-button-wins,
.member-wins {
  max-width: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sort-button-time,
.member-time {
  max-width: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
  background-color: transparent;
}
