body {
  display: flex;
  flex-direction: column;
  justify-content: center;

  min-height: 100dvh;

  color: #e6f4f4;

  background-color: #008c8c;
}

.main-home-container {
  display: grid;
  grid-template:
    'heading heading' min-content
    'option-list option-list' min-content
    'add-option-button add-option-button' min-content
    'paste-list-button paste-list-button' min-content
    'clear-list-button clear-list-button' min-content
    'save-list-button load-list-button' min-content
    'start-button start-button' min-content / 1fr 1fr;
  gap: 1rem;

  width: 100%;
  max-width: 48rem;
  margin-inline: auto;
  padding: 1rem;
}

.task-wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;

  padding: 0.6rem 0.8rem;
  border-radius: 0.5rem;

  background-image: linear-gradient(#66baba, #005454);
}

.header {
  grid-area: heading;
  color: #e6f4f4;
  text-align: center;
  text-shadow: 0 0 0.25rem #e6f4f4;
}

.tasks-list {
  display: flex;
  grid-area: option-list;
  flex-direction: column;
  gap: 0.5rem;

  padding-left: 0;
}

.button-add {
  grid-area: add-option-button;
}

.button-insert {
  grid-area: paste-list-button;
}

.button-clear {
  grid-area: clear-list-button;
}

.button-save {
  grid-area: save-list-button;
}

.button-load {
  grid-area: load-list-button;
}

.button-start {
  grid-area: start-button;
}

.text-input {
  flex-grow: 1;
  width: 100%;
  min-width: 5rem;
  color: inherit;
}

.dialog-wrapper {
  position: fixed;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: calc(100% - 2em - 6px);
  height: 100%;
  max-height: calc(100% - 2em - 6px);
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;

  opacity: 0;
  background-color: transparent;

  transition: opacity 0.5s ease-in-out;
}

.dialog-wrapper[open] {
  opacity: 1;
}

body:has(.dialog-wrapper[open]) {
  overflow: hidden;
}

.dialog-wrapper::backdrop {
  backdrop-filter: blur(0.1875rem);
}

.form-element {
  display: grid;
  grid-template:
    'textarea textarea' min-content
    'cancel confirm' min-content / 1fr 1fr;
  gap: 1rem;

  margin-inline: auto;
  padding: 1rem;
  border-radius: 0.5rem;

  background-color: #66baba;
  box-shadow: 0 0 0.25rem 0.1rem #99d1d1;
}

.textarea-element {
  grid-area: textarea;

  padding: 0.5rem;
  border: none;

  line-height: normal;
  color: #e6f4f4;

  background-color: #003838;
  outline: none;
  box-shadow: 0 0 0.25rem 0.1rem #99d1d1;
}

.button-cancel {
  grid-area: cancel;
}

.button-confirm {
  grid-area: confirm;
}

.message-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 1rem;
  border-radius: 0.5rem;

  background-color: #66baba;
  box-shadow: 0 0 0.25rem 0.1rem #99d1d1;
}

.message {
  padding: 1rem;

  color: #e6f4f4;
  text-shadow: 0 0 0.25rem #e6f4f4;
  white-space: pre-line;

  background-color: #003838;
}
