.users-manage-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 35%;
  padding: 10px;
  background-color: #e6f7ff;
}

li {
  list-style-type: none;
}

.user-active {
  background-color: #e0ffe0;
}

.user-inactive {
  background-color: #ffe0e0;
}

.user-list-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  overflow-y: auto;
  background-color: #e6f0ff;
  padding: 10px;
  height: 400px;
  max-height: 400px;
  border: 1px solid #b0c4de;
}

.user-element {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: 1px solid #b0c4de;
  width: 90%;
  background-color: #f0f8ff;
}

.user-element:hover {
  background-color: #d0e7ff;
  box-shadow: 0 0 10px rgb(0 123 255 / 50%);
}

.user-search-input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #b0c4de;
  background-color: #f0f8ff;
  transition: border-color 0.3s;
}

.user-search-input:focus {
  outline: none;
  border-color: #007bff;
}
